.App {
  text-align: center;
}

.App-logo {
  pointer-events: none;
}

.Connect {
  padding: 0;
  border-width: 2px;
  box-shadow: 4px 4px 4px #222;
  border-color: #000;
  height: 64px;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #7388D9;
}
.Connect-active {
  cursor: pointer;
}
.Connect-active:hover {
  background-color: #94AAFF;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
